<table border="solid">
            <h2>LISTADO DE MEDICOS</h2>
            <thead>
                <tr>
                    <th>Cedula Medico</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Especialidad</th>
                    <th>consultorio</th>
                    <th>correo</th>
                    <th>opciones</th>
                </tr>
            </thead>
            <tbody>              
        {{#each medicos}}
       <tr>
        <td>{{cedula}}</td>
        <td>{{nombres}}</td>
        <td>{{apellidos}}</td>
        <td>{{especialidad}}</td>
        <td>{{consultorio}}</td>
        <td>{{correo}}</td>
        <td><a class="eliminar" href="medicos/eliminar/{{cedula}}">Eliminar</a></td>
        </tr>
       {{/each}}
    </tbody>
</table>
   <a href="medicos/agregar">Agregar medicos</a>    
