<table border="solid">
            <h2>LISTADO DE PACIENTES</h2>
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                   
                </tr>
            </thead>
            <tbody>
        {{#each pacientes}}
       <tr>
        <td>{{cedula}}</td>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{edad}}</td>
        <td>{{telefono}}</td>
        <td><a class="eliminar" href="pacientes/eliminar/{{cedula}}">Eliminar</a></td>
        </tr>
       {{/each}}
    </tbody>
</table> 
               

<a href="pacientes/agregar">Agregar pacientes</a>